{% extends "base.html.twig" %}

{% block title %}Liste des pizzerias{% endblock %}

{% block titrePage %}
    {{ pizzeria.nom }}
{% endblock %}

{% block body %}
   <p>Mage : {{ pizzeria.marge }}</p>
   {% for pizza in liste_pizza %}
   {# {{ dump(pizza.0) }} #}
        <p>{{ pizza.0 }} prix : {{ pizza.1 }}€</p>
   {% endfor %}
{% endblock %}
